##
# This file defined the APIs primary attributes, along with what requests it can handle
#

define_api '<%= name %>' do |api|
  api.description '<%= description %>'
  
  <% requests.each do |reqest| %>
  api.define_request( :<%= reqest.call_type %>, '/<%= reqest.path %>' ) do |r|

  end
  <% end %>
end